@model IPagedList<GoldInventory.Models.Item>
<div id="ItemList">

    <div class="pager" data-avi-target="#ItemList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
        PagedListRenderOptions.MinimalWithItemCountText)
    </div>
    <div class="hidden-sm hidden-xs">
        <table class="table table-hover">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Category
                </th>
                <th>
                    StoneWeight
                </th>
                <th>
                    ItemWeight
                </th>
                @foreach (var attr in (IEnumerable<string>)ViewData["AttributeNames"])
                {
                    <th>
                        @attr
                    </th>
                }
                <th>
                    CreatedAt
                </th>
                <th>
                    UpdatedAt
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoneWeight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemWeight)
                    </td>
                    @foreach (var attr in item.AssociatedAttributes)
                    {
                        <td>
                            @attr.Value
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="visible-sm visible-xs">
        @foreach (var item in Model)
        {
            <div>
                <button class="btn btn-default expand-btn-to-max" type="button" data-toggle="collapse" data-target="#@item.Id" aria-expanded="false" aria-controls="collapseExample">
                    @item.Name »
                </button>
                <div class="collapse" id="@item.Id">
                    <div class="well">
                        <table class="table">
                            <tr>
                                <td>Name</td>
                                <td>@item.Name</td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td>@item.CategoryName</td>
                            </tr>
                            <tr>
                                <td>StoneWeight</td>
                                <td>@item.StoneWeight</td>
                            </tr>
                            <tr>
                                <td>ItemWeight</td>
                                <td>@item.ItemWeight</td>
                            </tr>
                            @foreach (var attr in item.AssociatedAttributes)
                            {
                                <tr>
                                    <td>
                                        @attr.AttributeName
                                    </td>
                                    <td>
                                        @attr.Value
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>CreatedAt</td>
                                <td>@item.CreatedAt</td>
                            </tr>
                            <tr>
                                <td>UpdatedAt</td>
                                <td>@item.UpdatedAt</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>