@model GoldInventory.Model.Item

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <table class="table table-hover table-responsive">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>

            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CategoryName)
            </td>

            <td>
                @Html.DisplayFor(model => model.CategoryName)
            </td>
        </tr>
        

        @foreach (var attr in Model.AssociatedAttributes)
        {
            <tr>
                <td class="margin-bottom-2"><span class="label label-default reset_label">@attr.AttributeName</span></td>
                <td class="padding-top-2 margin-bottom-2">@attr.Value</td>
            </tr>
        }

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </td>

            <td>
                @Html.DisplayFor(model => model.CreatedAt)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </td>

            <td>
                @Html.DisplayFor(model => model.UpdatedAt)
            </td>
        </tr>
        
    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
