@model GoldInventory.Model.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr/>
    @if (Model.ThumbnailUri != null)
    {
        <div class="text-center">
            <img src="@Model.ThumbnailUri.AbsoluteUri" width="300" height="300"/>
            <div>
                <a target="_blank" href="@Model.PhotoUri.AbsoluteUri">Enlarge Photo</a>
            </div>
        </div>
    }
    <table class="table table-hover table-responsive">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CategoryName)
            </td>

            <td>
                @Html.DisplayFor(model => model.CategoryName)
            </td>
        </tr>

        @foreach (var attr in Model.AssociatedAttributes)
        {
            <tr>
                <td class="margin-bottom-2"><span class="label label-default reset_label">@attr.AttributeName</span></td>
                <td class="padding-top-2 margin-bottom-2">@attr.Value</td>
            </tr>
        }

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </td>

            <td>
                @Html.DisplayFor(model => model.CreatedAt)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </td>

            <td>
                @Html.DisplayFor(model => model.UpdatedAt)
            </td>
        </tr>


    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
