@model IEnumerable<GoldInventory.Models.ItemReview>

@{
    ViewBag.Title = "Latest Reviews";
}

<h2>Latest Reviews</h2>

@section SPAViews{
    <p class="help-block">We are showing the latest @Model.Count() reviews</p>
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>*@

@foreach (var item in Model) {
    
    @Html.Partial("_Review", item);
}

@*</table>*@
