@model IEnumerable<GoldInventory.Models.PUser>

<h2>Users</h2>

<form class="form-inline" method="GET" data-avi-ajax="true" data-avi-target="UserList" action="@Url.Action("Index")">
    <div class="form-group">
        <label class="sr-only" for="searchControlId">UserName or Email</label>
        <input type="search" class="form-control" name="searchTerm" data-avi-autocomplete="@Url.Action("AutoComplete")" id="searchControlId" placeholder="UserName or Email">
    </div>
    <button class="btn btn-default" type="submit">Search</button>
</form>
<br />

@if (@ViewBag.HideCreateLink == false)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@Html.Partial("_UserList", Model)
